In [1]:
# Load libraries
import pandas as pd
import numpy as np

In [ ]:
# Create feature matrix with two highly correlated features 
# read data from your data-set
X = np.array([[1, 1, 1],
              [2, 2, 0],
              [3, 3, 1],
              [4, 4, 0],
              [5, 5, 1],
              [6, 6, 0],
              [7, 7, 1],
              [8, 7, 0],
              [9, 7, 1]])

In [2]:
# Convert feature matrix into DataFrame
df = pd.DataFrame(X)

In [27]:
# Create correlation matrix, and get abs (or change conditional for "to_drop")
corr_matrix = df.corr().abs()
corr_matrix

          0         1         2
0  1.000000  0.976103  0.000000
1  0.976103  1.000000  0.034503
2  0.000000  0.034503  1.000000

In [28]:
# Select upper triangle of correlation matrix 
upper_triangle = np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool)
upper_triangle

array([[False,  True,  True],
       [False, False,  True],
       [False, False, False]])

In [31]:
upper = corr_matrix.where(upper_triangle)

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.8)]
to_drop

[1]

In [32]:
upper.loc[:, to_drop].dropna().sort_values(by=to_drop, ascending=False)

          1
0  0.976103